body{
    background-color: black;
}

header{
    background-color:white;
    width: 500px;
    height:300px;
    margin-top:300px;
    text-align:center;
}

#all{
display:flex;
justify-content: space-between;
}

.CATS{
    display:flex;
    flex-flow:row wrap;
    justify-content:;

}

img{
    height:250px;
    width:300px;
    margin-left:50px;
    margin-top:50px;
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: blue;
    }
    #all {
        flex-flow:wrap;
    }
    img {
        width:90%;
        height:90%;
    }
    header{
        width:100%;
        margin-top:1px;
        height:150px;
    }

    @media only screen and (max-width: 500px) {
        body {
            background-color: blue;
        }
        #all {
            flex-flow:wrap;
        }
        img {
            width:100px;
            height:90%;
        }
        header{
            width:100%;
            margin-top:1px;
            height:150px;
        }
        .CATS{
            flex-direction:row;
        }